#root {
    /* Vars */
    --header-height: 65px;

    /* Styles */
    width: 100vw;
    height: 100vh;
    background-color: #020617;
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
}